:root {
  --columns: 12;
}

/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1.25rem;
    line-height: 1.25;
    color: black;
}






/* program */
.program-item{
  padding: 10px;
  width: 100%;
  display: grid;
  /* 1 column, 2 columns, auto, 1 column */
  grid-template-columns: calc(100% / var(--columns)) calc(100% / var(--columns) * 2) auto calc(100% / var(--columns));
}
.program-item>*{
  margin: 0 10px;
  background: grey;
  max-width: calc(100% - 20px);
}
.program-item .duration{
  position: absolute;
  right: 20px;
  margin: 0;
}
.program-item .main-img{
  width: 100%;
}
.program-item .content-list{
  width: 100%;
}
.program-item ul{
  padding: 0;
  list-style: none;
}
.program-item li{
  padding: 0;
  margin: 0;
}
.program-item .department-list{
  margin-top: 1.25em;
  text-align: right;
}
.program-item .department-list li{
  max-width: 100%;
}




/* grid/mobile */
@media only screen and (max-width: 1920px) {
  .program-item{
    /* 1 column, 2 columns, auto, 2 columns */
    grid-template-columns: calc(100% / var(--columns)) calc(100% / var(--columns) * 2) auto calc(100% / var(--columns) * 2);
  }
}
@media only screen and (max-width: 1600px) {
  .program-item{
    /* 1 column, 3 columns, auto, 2 columns */
    grid-template-columns: calc(100% / var(--columns)) calc(100% / var(--columns) * 3) auto calc(100% / var(--columns) * 2);
  }
}
@media only screen and (max-width: 1280px) {
  body {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  :root {
    --columns: 3;
  }
  .program-item{
    /* 1 column, 2 columns */
    grid-template-columns: calc(100% / var(--columns)) calc(100% / var(--columns) * 2);
  }
  .program-item .starting-time{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .program-item .department-list{
  display: none;
  }
}
@media only screen and (max-width: 750px) {
  :root {
    --columns: 5;
  }
  .program-item{
    /* 2 columns, 3 column */
    grid-template-columns: calc(100% / var(--columns) * 2) calc(100% / var(--columns) * 3);
  }
}
@media only screen and (max-width: 600px) {
  .program-item .starting-time{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .program-item{
    /* no more columns */
    grid-template-columns: 100%;
  }
}
