<div class="swiper-navigation white">
  <span class="custom-swiper-button-prev medium">◄</span>
  <span class="current-day bold big">Thursday, 29.10.</span>
  <span class="custom-swiper-button-next medium">►</span>
</div>
